// Bootstrap Extension

.usd-breadcrumb {
  padding: 1rem 1rem 0rem 1rem;
  position: relative;
  margin-bottom: 0;

  .breadcrumb-page-title{
    color: $gray-dark;
    font-size: 1.5rem;
    padding-right: 20px;
    border-right: 1px solid $gray-400;
    margin-bottom: 0;
  }

  .breadcrumb-list{
    padding-left: 0px;
    padding-top: 8px;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin: 0 auto;

    .breadcrumb-item, span {
      float: left;
      text-align: center;
      max-width: 300px;
      min-width: 110px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.75rem;
      padding-bottom: 0.5rem;

      + .breadcrumb-item::before {
        display: inline-block; // Suppress underlining of the separator in modern browsers
        //padding-right: $breadcrumb-item-padding;
        //padding-left: $breadcrumb-item-padding;
        //color: $breadcrumb-divider-color;
        content: "";
        float: left;
      }

      .breadcrumb-item-icon{
        display: block;
        text-align: center;
        font-size: 1.25rem;
      }

      &.active{
        border-bottom: 3px solid $transparent-light-50;
      }
    }

    .breadcrumb-divider{
      float: left;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

}

.breadcrumb-mobile{

  .breadcrumb-active{
    font-size: 1.15rem;
  }

}

@include media-breakpoint-down(md) {

  .usd-breadcrumb{
    padding: 0.9rem 0 0.9rem 0;

    .breadcrumb-page-title{
      border-right: none;
      order: 2;
    }

    .breadcrumb-list{
      display: block;
      width: 100%;
      padding-left: 0;

      .breadcrumb-item, .breadcrumb-divider{
        display: none;
      }
    }
  }
}
