</div>
<!-- /.usd-body -->
<!-- 
USD: Frame > Footer
Class: .usd-footer
Content:
	- Footer CTA
	- Footer Links
	- Footer Buttons
	- Social Links
	- Copyright
	- Privacy, Terms & Conditions
Featured:
	- Footer CTA
	- 3 column footer layout
	- Social icons
-->
<footer class="usd-footer position-relative">
	<div class="container">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-6">
					&copy; 2018 Overland Porsche
				</div>
				<div class="col-6 text-right">
					Powered by <a href="#">Dealer Corp.</a>
				</div>
			</div>
			
		</div>
		<!-- /animated -->
	</div>
	<!-- /.container-fluid -->
</footer>
<!-- /.usd-footer -->
<!-- Scripts -->

<script src="assets/js/tether.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/pace.min.js"></script>
<script src="assets/js/usd.js"></script>
<script>
	var sheetId = '15Dz59bnakTluzsbOzv8PAM5q50X02T0pJVWEtMSzA44';
</script>
<script src="assets/js/ph-prototype.js"></script>

<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:975821,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- End Scripts -->
</body>
<!-- /.usd -->
</html>