</div>
<!-- /.usd-body -->
<!-- 
USD: Frame > Footer
Class: .usd-footer
Content:
	- Footer CTA
	- Footer Links
	- Footer Buttons
	- Social Links
	- Copyright
	- Privacy, Terms & Conditions
Featured:
	- Footer CTA
	- 3 column footer layout
	- Social icons
-->
<footer class="usd-footer">
	<div class="container">
		<div class="animated fadeIn">
			<!-- Copyright, Terms, Privacy -->
			<div class="row align-items-center">
				<div class="col-lg-6 d-md-down-none footer-vehicle-col">
					<div class="d-flex align-items-center">
						<img class="footer-vehicle float-left" src="assets/img/porsche911.jpg" />
						<div class="ml-3">
							<p class="mb-0">2018 Porsche 911 Turbo S</p>
							<p class="small text-secondary mb-0">Stock # 118A547</p>
						</div>
					</div>
				</div>
				<!-- /.col -->
				<div class="col-lg-6 footer-price-col">
					<div class="d-inline mr-3 footer-price-buttons">
						<button type="button" class="btn btn-outline-secondary btn-sm">Lease</button>
						<button type="button" class="btn btn-primary btn-sm">Finance</button>
						<button type="button" class="btn btn-outline-secondary btn-sm">Cash</button>
						<a href="payment.html" class="ml-3 btn btn-outline-secondary btn-sm"><i class="fal fa-money-bill"></i> $1,537 / MO</a>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
			<!-- / Copyright, Terms, Privacy -->
		</div>
		<!-- /animated -->
	</div>
	<!-- /.container-fluid -->
</footer>
<!-- /.usd-footer -->
<!-- Scripts -->

<script src="assets/js/tether.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/pace.min.js"></script>
<script src="assets/js/usd.js"></script>
<script>
	var sheetId = '15Dz59bnakTluzsbOzv8PAM5q50X02T0pJVWEtMSzA44';
</script>
<script src="assets/js/ph-prototype.js"></script>

<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:975821,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- End Scripts -->
</body>
<!-- /.usd -->
</html>