<body class="usd header-relative sidebar-off-canvas sidebar-hidden aside-menu-off-canvas aside-menu-hidden help-menu-hidden help-menu-off-canvas footer-fixed">
<header class="usd-header navbar">
	<!-- .navbar-brand (brand logo - assets/img/logo.png & assets/img/logo-icon.png) -->
	<a class="navbar-brand" href="index.html"></a>
	<!-- /.navbar-brand -->
	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item">
			<button class="btn btn-sm btn-outline-primary">How it Works</button>
			<button class="btn btn-sm btn-outline-primary"><i class="fal fa-play"></i> Watch Video</button>
		</li>
	</ul>
</header>
<!-- /.usd-header -->

<div class="usd-body">