<div class="usd-sidebar">
	<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-item level-one pt-2">
				<a class="nav-link" href="#"><i class="fal fa-user"></i> Sign In</a>
			</li>
			<li class="nav-title text-white">
				Online Checkout
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">New Inventory</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Used Inventory</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Sell Your Car</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">How Checkout Works</a>
			</li>
			<hr class="border-secondary w-100" />
			<li class="nav-title text-white">
				Quick Links
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Car Delaership Home</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Financing</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Specials</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Service</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Parts</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">About</a>
			</li>
			<hr class="border-secondary w-100" />
			<li class="nav-title text-white">
				Car Dealership
			</li>
			<li class="nav-item">
				<div class="nav-link">
					1000 Main Street<br>
					Broomfield, CO 80020
				</div>
				<div class="mx-3">
					<button class="btn btn-outline-light btn-block">Questions</button>
				</div>
				<div class="mx-3 mt-2">
					<button class="btn btn-outline-light btn-block">Get Directions</button>
				</div>
				<div class="mx-3 mt-2">
					<button class="btn btn-outline-light btn-block"><i class="fal fa-phone"></i> (888) 333-4444</button>
				</div>
			</li>
			<hr class="border-secondary w-100" />
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Privacy Policy</a>
			</li>
			<li class="nav-item level-one">
				<a class="nav-link" href="#">Terms of Service</a>
			</li>
			<!-- / Introduction Links -->
		</ul>
	</nav>
</div>
<!-- /.usd-sidebar -->
<!-- .usd-main -->
<main class="usd-main">
	<!--<div class="container-fluid">-->