<!--</div>-->
<!-- /.container-fluid -->
</main>
<!-- /.usd-main --> 
<!-- 
	USD: User > Notifications
	Class: .usd-aside-menu 
	Content:
		- Notifications
		- Chat Messages
		- Notification Settings
-->
<aside class="usd-aside-menu aside-menu">
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#notifications" role="tab"><i class="fa fa-bell-o"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#chat" role="tab"><i class="fa fa-comment"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="fa fa-cog"></i></a>
		</li>
		<li class="nav-item ml-auto">
			<a class="nav-link aside-menu-toggler text-muted"><i class="fa fa-times"></i></a>
		</li>
	</ul>
	<!-- /.nav-tabs -->
	<div class="tab-content">
		<!-- #notifications.tab-pane -->
		<div class="tab-pane active" id="notifications" role="tabpanel">
			<div class="m-0 py-2 text-center bg-primary text-white text-uppercase font-bold">
				NOTIFICATION CENTER
			</div>
			<hr class="my-0">
			<div class="list">
				<a class="item item-no-border item-clickable py-3 callout callout-success" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">New Lead Received</h4>
								<p class="item-desc">New lead from your website landing page.</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-success">1m</span>
				</a>
				<hr class="my-0">
				<a class="item item-no-border item-clickable py-3 callout callout-primary" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">New User Registered</h4>
								<p class="item-desc">A new user (Jim Pope) registered on your website.</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-primary">30m</span>
				</a>
				<hr class="my-0">
				<a class="item item-no-border item-clickable py-3 callout callout-warning" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Proposal Due</h4>
								<p class="item-desc">Your proposal for new business is due.</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-warning">1d</span>
				</a>
				<hr class="my-0">
				<a class="item item-no-border item-clickable py-3 callout callout-danger" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Invoice Received</h4>
								<p class="item-desc">You received a new invoice from Top Designers, inc.</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-danger">3d</span>
				</a>
				<hr class="my-0">
			</div>
			<!-- /.list -->
		</div>
		<!-- /#notifications.tab-pane-->
		<!-- #chat.tab-pane -->
		<div class="tab-pane" id="chat" role="tabpanel">
			<div class="m-0 py-2 text-center bg-primary text-white text-uppercase font-bold">
				CHAT
			</div>
			<hr class="my-0">
			<div class="list">
				<a class="item item-no-border item-clickable py-3 callout callout-success" href="#">
					<div class="avatar avatar-xs">
						<img src="assets/img/avatars/profile1.jpg" />
					</div>
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Joey Stringer</h4>
								<p class="item-desc">"What time are we practicing at tonight?"</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-primary">Now</span>
				</a>
				<hr class="my-0">
				<a class="item item-no-border item-clickable py-3 callout callout-success" href="#">
					<div class="avatar avatar-xs">
						<img src="assets/img/avatars/profile2.jpg" />
					</div>
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Phillip Bass</h4>
								<p class="item-desc">Just got a call from the bar on main street. We need to chat.</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-primary">30m</span>
				</a>
				<hr class="my-0">
				<a class="item item-no-border item-clickable py-3 callout callout-success" href="#">
					<div class="avatar avatar-xs">
						<img src="assets/img/avatars/profile3.jpg" />
					</div>
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Hannah Soprana</h4>
								<p class="item-desc">The studio is all booked this weekend. We must get a reservation and lay down that track we've been working on.</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-primary">1d</span>
				</a>
				<hr class="my-0">
				<a class="item item-no-border item-clickable py-3 callout callout-danger" href="#">
					<div class="avatar avatar-xs">
						<img src="assets/img/avatars/profile4.jpg" />
					</div>
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Gabriel de la Luna</h4>
								<p class="item-desc">Yo! I heard you're coming to Philly in a couple months. We gotta hang!</p>
							</div>
						</div>
					</div>
					<span class="item-end badge badge-pill badge-danger">2w</span>
				</a>
				<hr class="my-0">
			</div>
			<!-- /.list -->
		</div>
		<!-- /#chat.tab-pane -->
		<!-- #settings.tab-pane -->
		<div class="tab-pane" id="settings" role="tabpanel">
			<div class="m-0 py-2 text-center bg-primary text-white text-uppercase font-bold">
				SETTINGS
			</div>
			<div class="list">
				<div class="item item-no-border py-3" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Email Notifications</h4>
								<p class="item-desc">Receive notifications when new emails hit your inbox.</p>
							</div>
						</div>
					</div>
					<div class="item-end">
						<label class="switch switch-text switch-pill switch-success switch-sm">
							<input type="checkbox" class="switch-input" checked="">
							<span class="switch-label" data-on="On" data-off="Off"></span>
							<span class="switch-handle"></span>
						</label>
					</div>
				</div>
				<hr class="my-0">
				<div class="item item-no-border py-3" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Chat Messages</h4>
								<p class="item-desc">Get notified when you receive new chat messages.</p>
							</div>
						</div>
					</div>
					<div class="item-end">
						<label class="switch switch-text switch-pill switch-success switch-sm">
							<input type="checkbox" class="switch-input" checked="">
							<span class="switch-label" data-on="On" data-off="Off"></span>
							<span class="switch-handle"></span>
						</label>
					</div>
				</div>
				<hr class="my-0">
				<div class="item item-no-border py-3" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">New Cash Deposit</h4>
								<p class="item-desc">Cha-ching! You just got paid.</p>
							</div>
						</div>
					</div>
					<div class="item-end">
						<label class="switch switch-text switch-pill switch-success switch-sm">
							<input type="checkbox" class="switch-input" checked>
							<span class="switch-label" data-on="On" data-off="Off"></span>
							<span class="switch-handle"></span>
						</label>
					</div>
				</div>
				<hr class="my-0">
				<div class="item item-no-border py-3" href="#">
					<div class="item-inner">
						<div class="input-wrapper">
							<div class="item-label">
								<h4 class="item-title">Studio Alerts</h4>
								<p class="item-desc">Turn on notifications from the studio.</p>
							</div>
						</div>
					</div>
					<div class="item-end">
						<label class="switch switch-text switch-pill switch-success switch-sm">
							<input type="checkbox" class="switch-input">
							<span class="switch-label" data-on="On" data-off="Off"></span>
							<span class="switch-handle"></span>
						</label>
					</div>
				</div>
				<hr class="my-0">
			</div>
			<!-- /.list -->
		</div>
		<!-- /#settings.tab-pane -->
	</div>
	<!-- /.tab-content -->
</aside>
<!-- /.usd-aside-menu -->