<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Product Heartbeat">
<meta name="keyword" content="Bootstrap,Admin,Template,SASS,jQuery,UX,Design,Sofware,Application,CSS,HTML,Dashboard">
<link rel="shortcut icon" href="assets/img/favicon.png">
<meta name="description" content="Learn how to build stellar enterprise software applications. You'll get free design components, educational tutorials, and real-world advice.">
<meta property="og:site_name" content="Product Heartbeat">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="fb:app_id" content="121760338590315">
<meta name="twitter:card" content="summary">
<link rel="stylesheet" href="assets/css/app.css" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Lora|Oswald|Open+Sans|Source+Sans+Pro" rel="stylesheet">
<script src="assets/js/jquery.min.js"></script>