<button id="toggle-spinner-btn" class="btn btn-outline-secondary btn-sticky">
  <i class="fal fa-save"></i> 
  Save Progress
  <div class="spinner spinner-btn animated fadeIn d-none float-right">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</button>
<button class="btn btn-outline-secondary btn-sticky help-toggler"><i class="fal fa-comments"></i> Chat For Help</button>
<div class="payment-summary">
  <div class="list list-sm mb-1 border border-secondary">
    <a href="vehicle.html" class="item item-bottom-border">
      <div class="avatar avatar-sm avatar-square">
        <img src="assets/img/porsche-preview.jpg" />
      </div>
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-12 text-left">
                <p class="item-desc mt-0 font-weight-bold">2018 Porsche 911 Turbo S</p>
                <p class="item-desc mt-0 mb-2">Stock # 118A547</p>
                <p class="item-desc mt-0 text-primary">List Price: <span class="float-right text-primary">$275,000</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="savings.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0 font-weight-bold">Savings</p>
                <p class="item-desc mt-0"><i class="fas fa-caret-right"></i> Discounts</p>
                <p class="item-desc mt-0"><i class="fas fa-caret-right"></i> Rebates & Incentives</p>
              </div>
              <div class="col-6 text-right">
                <p style="visibility: hidden" class="item-desc mt-0">&nbsp;</p>
                <p class="item-desc mt-0">- $5,000</p>
                <p class="item-desc mt-0">- $15,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="protection.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0 font-weight-bold">Protection Plan</p>
              </div>
              <div class="col-6 text-right">
                <p class="item-desc mt-0">$5,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="accessories.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0 font-weight-bold">Accessories</p>
              </div>
              <div class="col-6 text-right">
                <p class="item-desc mt-0">$360</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="payment.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0 font-weight-bold">Taxes & Fees</p>
                <p class="item-desc mt-0"><i class="fas fa-caret-right"></i> Fees</p>
                <p class="item-desc mt-0"><i class="fas fa-caret-right"></i> State Taxes</p>
              </div>
              <div class="col-6 text-right">
                <p style="visibility: hidden" class="item-desc mt-0">&nbsp;</p>
                <p class="item-desc mt-0">$750</p>
                <p class="item-desc mt-0">$10,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="payment.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0 text-primary"><strong>Vehicle Price</strong></p>
              </div>
              <div class="col-6 text-right">
                <p class="item-desc mt-0 text-primary">$271,110</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="trade.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0"><strong>Trade</strong></p>
              </div>
              <div class="col-6 text-right">
                <p class="item-desc mt-0">- $150,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="payment.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0"><strong>Down Payment</strong></p>
              </div>
              <div class="col-6 text-right">
                <p class="item-desc mt-0">- $50,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="payment.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row">
              <div class="col-6 text-left">
                <p class="item-desc mt-0 text-primary"><strong>Financed</strong></p>
              </div>
              <div class="col-6 text-right">
                <p class="item-desc mt-0 text-primary">$71,110</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="payment.html" class="item item-bottom-border clickable">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label">
            <div class="row align-items-center">
              <div class="col-6 text-left">
                <p class="item-desc mt-0 font-weight-bold">Payment</p>
                <p class="item-desc mt-0"><i class="fas fa-caret-right"></i> Term: 60 months</p>
                <p class="item-desc mt-0"><i class="fas fa-caret-right"></i> APR: 2.90%</p>
              </div>
              <div class="col-6 text-right">
                <h3 class="mb-0 text-primary">$1,537<span class="font-xs text-secondary"><small>/mo</small></span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <div class="item item-bottom-border">
      <div class="item-inner">
        <div class="input-wrapper">
          <div class="item-label py-2">
            <a href="review.html" class="btn btn-primary btn-block btn-icon btn-icon-right"><i class="fal fa-angle-right"></i>Deal Review</a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<script>
  $(document).ready(function () {

        $(window).scroll(function() {    
          var scroll = $(window).scrollTop();
          var size = $(window).width()

          if (scroll >= 79 && size >= 992) {
              $("#sticky").addClass("fixed");
          } else {
              $("#sticky").removeClass("fixed");
          }
        });

  });
  
</script>